@import '@/shared/scss/variables';
@import '@/shared/scss/mixins';

.connect {
    @include flex(column);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-family: $fontAccent;
    font-size: 3rem;
}

ul,
li {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;

    & > *,
    .medium__link {
        cursor: pointer;
        color: rgb(70, 232, 55);
        text-decoration: none;
    }
}

.connect__content {
    @include flex(row);
    height: 60%;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-image: url('../../assets/images/pngwing.com (1).png');
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: left center;
}

.content__links {
    max-width: 60%;
}

header {
    font-weight: 600;
    text-align: center;
    max-width: 50%;
}

.medium__intro {
    text-align: right;
    max-width: 32ch;
    color: rgb(0, 0, 0);
}
