@font-face {
    font-family: '3DPixel';
    src: url("../../assets/fonts/3D-Thirteen-Pixel-Fonts.ttf") format("truetype");
 }

@font-face {
    font-family: 'Advanced Pixel Regular';
    src: url("../../assets/fonts/advanced-pixel-7.regular.ttf") format("truetype");
 }
@font-face {
    font-family: 'Small Bold Pixel';
    src: url("../../assets/fonts/small-bold-pixel-7.regular.ttf") format("truetype");
 }
@font-face {
    font-family: 'Smallest Pixel';
    src: url("../../assets/fonts/smallest-pixel-7.regular.ttf") format("truetype");
 }

